<h1>Global Chat</h1>

<section class="chat-container">
    <div class="chat-banner"></div>
    <div class="chat-area" id="messageArea"></div>
    <div class="chat-input-container container">
        <span id="messageInput" data-placeholder='ok' onkeydown="messageKeyDown(event)" aria-placeholder="Message" class="textarea" role="textbox" contenteditable></span>
    </div>
</section>

@section scripts{
    <script type="text/javascript" src="/lib/scripts/chat/globalChat.js"></script>

    <script>
        init("@User.Identity.Name");

        function messageKeyDown(e) {
            if (e.keyCode == 13 && !e.shiftKey) {
                e.preventDefault();
                sendMessage();
            }
        }
    </script>
}